<h2>Book Detail</h2>

<div *ngIf="book">
  <label>ID:
    <span>{{book.id}}</span>
  </label>
  <br>

  <label>Name:
    <input [(ngModel)]="book.name" placeholder="Name">
  </label>
  <br>

  <label>Price:
    <input [(ngModel)]="book.price" placeholder="Price">
  </label>
  <br>

  <label>Quantity:
    <span>{{book.quantity}}</span>
  </label>
  <br>

  <label>Description:
    <textarea [(ngModel)]="book.description" placeholder="Description"></textarea>
  </label>
  <br>
</div>

<button (click)="updateBook()">Save</button>
<button (click)="deleteBook()">Delete This Book</button>
<button (click)="back()">Back to Dashboard</button>
